* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.contianer {
  max-width: 1140px;
  padding: 20px 20px;
}

.close-btn {
  width: 24px;
  height: 24px;
  border: 3px;
  color: rgba(107, 107, 107, 1);
  background-color: #fff;
  cursor: pointer;
  font-size: 30px;
  transform: translateX(500px);
}

.modal-btn {
  width: 160px;
  height: 40px;
  padding: 10px, 14px, 10px, 14px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(907px);
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
}

.loading-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.wrapper-link {
  color: rgba(52, 64, 84, 1);
  width: 107px;
  height: 40px;
  padding: 8px 33px; /* Corrected padding */
  border: 0px 1px 0px 0px; /* Border style */
  gap: 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.btn-file {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 11px;
}

.form-error {
  color: red;
  text-align: center;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: rgba(31, 31, 31, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(31, 31, 31, 0.3);
}
.admin-wrapper {
  display: flex;
}

.newClass {
  text-decoration: none;
  background-color: #F9FAFBFF;
  border-radius: 7px;
  padding: 8px 33px; 
}

.po {
  border-radius: 8px;
  transform: translateX(100px);
}

.addcatgory-word {
  transform: translateX(-100px) translateY(32px);
}
.cancel-modal {
  width: 170px;
  height: 44px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 8px;
  border: solid 1px rgba(208, 213, 221, 1);
  background-color: transparent;
  gap: 6px;
  margin-left: 22px;
  cursor: pointer;
}
.delete-modal {
  width: 170px;
  height: 44px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 8px;
  border: solid 1px rgba(208, 213, 221, 1);
  background-color: red;
  gap: 6px;
  margin-left: 11px;
  cursor: pointer;
  color: #fff;
}
