.logo-admin {
  margin-bottom: 11px;
  object-fit: contain;
  cursor: pointer;
}

.nav-wrapper {
  background: #fff;
  border-right: 2px solid #eaecf0;
  width: auto;
  height: auto;
  padding: 20px 0;
  margin-left: 11px;
}

.buttons {
  border-radius: 8px;
  padding: 8px, 12px, 8px, 12px;
  align-items: center;
}

.btn {
  display: flex;
  width: auto;
  height: auto;
  padding: 21px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  margin-left: 10px;
}
.btn img {
  margin-right: 15px; /* Add space between image and text */
}
.active {
  width: 250px;
  height: auto;
  padding: 21px;
  border-radius: 6px;
  text-align: center;
  background-color: #f9fafb;
}
@media only screen and (max-width: 1137px) {
  .logo {
    transform: translateX(10px);
  }

  .buttons {
    transform: translateX(50px);
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    transform: translateX(10px);
  }

  .buttons {
    transform: translateX(50px);
  }
}
